<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
    <title>Administrador de Seguros</title>
  </head>
  <body>

    
    

    <!--formularios para ingresar-->
    <div class="container">
        <header id="header-pagina">
            <h1>Administrador de seguros</h1>
        </header>
        <main>
            <form method="POST" id="formSeguros">
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Codigo" required>
                  </div>
                  <div class="form-group col-md-3">
                    <input type="text" id="tipo" name="tipo" placeholder="Tipo" class="form-control" required>
                  </div>
                  <div class="form-group col-md-3">
                    <input type="number" id="vigencia" placeholder="Vigencia" name="vigencia" class="form-control" required>
                  </div>
                  <div class="form-group col-md-3 d-flex align-items-center">
                    <input type="submit" class="btn btn-info" value="Ingresar">
                  </div>
                </div>
            </form>
            <table class="table table-bordered table-hover mt-3 mx-0">
                  <thead>
                    <tr class="table-info">
                      <th scope="col">ID</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Vigencia</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                  <tbody id="tbody-seguros">
                  </tbody>
            </table>
        </main>
      
    </div>

    
      


    <!--MODAL PARA EL UPDATE-->
    <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdate" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Actualizar Seguro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" id="formUpdate">
              <input type="hidden" id="idU" name="idU">
              <div class="form-group">
                <label for="codigoU">Nuevo Codigo</label>
                <input type="text" id="codigoU" name="codigoU">
              </div>
              <div class="form-group">
                <label for="tipoU">NUevo Tipo:</label>
                <input type="text" id="tipoU" name="tipoU">
              </div>
              <div class="form-group">
                <label for="vigenciaU">Nueva Vigencia:</label>
                <input type="number" id="vigenciaU" name="vigenciaU">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="btnUpdate" type="button" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--SCRIPT PARA EL AJAX-->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
